<div class="container">
  <div class="row">
    <div class="card">
      <div class="row">
        <div [ngClass]="(currentPlayer!=1)?'currentplayer':'anotherPlayer'" id="firstplayer" class="col-sm-5.5">
          <div>
            <label for="">
              <h3>Player 1</h3>
            </label>
            <label class="score" for="">{{ player1Score }}</label><br>
            <div class="button">
              <h5> Current</h5><br />
              <h4 id="current">{{player1Current}}</h4>
            </div>
          </div>
        </div>
        <div class="col-sm-1">
          <button (click)="NewGame()" style="background: transparent;" class="btn-new"> <i
              style="zoom:2.0;color: brown;" class="ion-plus-circled"></i></button><br><br>
          <div *ngIf="diceValue!=0">
            <img [src]="baseIconPath + diceValue + '.jpg'" alt="">
          </div>
          <button (click)="RollDice()" class="btn-refresh">Roll</button><br><br>
          <button class="btn-hold"> <i style="zoom:2.0;color: brown;" class="ion-stop"></i></button>
        </div>
        <div [ngClass]="(currentPlayer!=2)?'currentplayer':'anotherPlayer'" id="secondplayer" class="col-sm-5.5">
          <div>
            <label for="">
              <h3>Player 2</h3>
            </label>
            <label class="score" for="">{{ player2Score }}</label>
            <div class="button">
              <h5>Current</h5><br />
              <h4 id="current">{{player2Current}}</h4>
            </div>
          </div>
        </div>
        <!-- <img src="{{ addIconPath }}" alt=""> -->
      </div>
    </div>
  </div>
</div>
